attrs==21.2.0
botocore==1.20.88
click==8.0.3
-e git+https://github.com/rangera/driverClock.git@9c60280ec0d538b68749a2ccb3d1ab0950d18f37#egg=compliance_clock
coverage==6.1.2
Flask==2.0.2
git-remote-codecommit==1.15.1
iniconfig==1.1.1
itsdangerous==2.0.1
Jinja2==3.0.3
jmespath==0.10.0
MarkupSafe==2.0.1
packaging==21.3
pluggy==1.0.0
py==1.11.0
pyparsing==3.0.6
pytest==6.2.5
python-dateutil==2.8.1
six==1.16.0
toml==0.10.2
urllib3==1.26.5
Werkzeug==2.0.2
